@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: rgb(64, 63, 63);
  color: #fff;
  max-width: 1200px;
  margin: auto;
}
a {
  text-decoration: none;
  color: #fff;
}
img {
  width: 100%;
}

.btn {
  background: #f44336;
  /* width: 100%; */
  color: #fff;
  text-align: center;
  padding: 12px 30px;
  transition: 0.4s;
  cursor: pointer;
}

.btn:hover {
  background: #e01101;
}

/* nav design */

.logo {
  color: #fff;
  font-size: 1.5rem;
}
.logo:hover {
  color: #f44336;
}

nav {
  background: #000;
  padding: 1rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  height: 80px;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 40px;
}

nav ul li a {
  font-size: 1.2rem;
  color: #fff;
}

nav ul li a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  margin-right: auto;
  background-color: #f44336;
  transition: 0.4s;
}

nav ul li a:hover::after {
  width: 100%;
}
nav ul li a:hover {
  color: #f44336;
}

.fa-bars {
  cursor: pointer;
  color: #fff;
}

.menu-icon {
  display: none;
}

.blog-section {
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 4rem;
  padding-top: 180px;
}
.blog-section .left {
  width: 50%;
}

.blog-section .left h1 {
  font-size: 42px;
}
.blog-section .left p {
  font-size: 18px;
  color: #888;
  padding-block: 20px;
}

.blog-section .right {
  width: 50%;
}

/* menu section */

#menu-section {
  padding: 100px 2rem;
}
.menu-container {
  padding: 60px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

#menu-section h2 {
  font-size: 28px;
  text-align: center;
}
.menu-item {
  width: 320px;
  background: #fff;
  padding: 20px;
}

.menu-item img {
  object-fit: cover;
}

.menu-item h4 {
  padding-block: 15px;
  text-align: center;
  color: #000;
}

@media (max-width: 640px) {
  nav ul {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    background: #000;
    flex-direction: column;
    overflow: hidden;
    transition: max-height 0.5s;
  }

  nav ul li:last-child {
    padding-bottom: 40px;
  }
  .menu-icon {
    display: block;
  }
  .blog-section {
    flex-direction: column;
    height: auto;
    padding: 40px;
  }
  .blog-section .left,
  .blog-section .right {
    width: 100%;
    text-align: center;
    margin: 10px;
  }
  .blog-section .left h1 {
    font-size: 30px;
  }
}
